# LCoinDB (Client Mod)
LCoinDB/# LCoinDB
LCoinDB/.idea/
LCoinDB/*.iml
LCoinDB/*.ipr
LCoinDB/*.iws
LCoinDB/out/
LCoinDB/.idea_modules/
LCoinDB/atlassian-ide-plugin.xml
LCoinDB/*.class
LCoinDB/*.log
LCoinDB/*.ctxt
LCoinDB/*.jar
LCoinDB/*.war
LCoinDB/*.nar
LCoinDB/*.ear
LCoinDB/*.zip
LCoinDB/*.tar.gz
LCoinDB/*.rar
LCoinDB/hs_err_pid*
LCoinDB/*~
LCoinDB/.fuse_hidden*
LCoinDB/.directory
LCoinDB/.Trash-*
LCoinDB/.nfs*
LCoinDB/.DS_Store
LCoinDB/.AppleDouble
LCoinDB/.LSOverride
LCoinDB/Icon
LCoinDB/._*
LCoinDB/.DocumentRevisions-V100
LCoinDB/.fseventsd
LCoinDB/.Spotlight-V100
LCoinDB/.TemporaryItems
LCoinDB/.Trashes
LCoinDB/.VolumeIcon.icns
LCoinDB/.com.apple.timemachine.donotpresent
LCoinDB/.AppleDB
LCoinDB/.AppleDesktop
LCoinDB/Network Trash Folder
LCoinDB/Temporary Items
LCoinDB/.apdisk
LCoinDB/Thumbs.db
LCoinDB/Thumbs.db:encryptable
LCoinDB/ehthumbs.db
LCoinDB/ehthumbs_vista.db
LCoinDB/*.stackdump
LCoinDB/[Dd]esktop.ini
LCoinDB/$RECYCLE.BIN/
LCoinDB/*.cab
LCoinDB/*.msi
LCoinDB/*.msix
LCoinDB/*.msm
LCoinDB/*.msp
LCoinDB/*.lnk
LCoinDB/.gradle
LCoinDB/build/
LCoinDB/gradle-app.setting
LCoinDB/.gradletasknamecache
LCoinDB/**/build/
LCoinDB/run/
LCoinDB/runs/
LCoinDB/!gradle-wrapper.jar

# LegitiCoinDB-server (node.js)
LegitiCoinDB-server/.env
LegitiCoinDB-server/node_modules
LegitiCoinDB-server/certs

# LCoinDB-Server (Paper Plugin)
LCoinDB-Server/.idea/
LCoinDB-Server/*.iml
LCoinDB-Server/*.ipr
LCoinDB-Server/*.iws
LCoinDB-Server/out/
LCoinDB-Server/*.class
LCoinDB-Server/*.log
LCoinDB-Server/*.ctxt
LCoinDB-Server/*.jar
LCoinDB-Server/*.war
LCoinDB-Server/*.nar
LCoinDB-Server/*.ear
LCoinDB-Server/*.zip
LCoinDB-Server/*.tar.gz
LCoinDB-Server/*.rar
LCoinDB-Server/hs_err_pid*
LCoinDB-Server/*~
LCoinDB-Server/.fuse_hidden*
LCoinDB-Server/.directory
LCoinDB-Server/.Trash-*
LCoinDB-Server/.nfs*
LCoinDB-Server/.DS_Store
LCoinDB-Server/.AppleDouble
LCoinDB-Server/.LSOverride
LCoinDB-Server/Icon
LCoinDB-Server/._*
LCoinDB-Server/.DocumentRevisions-V100
LCoinDB-Server/.fseventsd
LCoinDB-Server/.Spotlight-V100
LCoinDB-Server/.TemporaryItems
LCoinDB-Server/.Trashes
LCoinDB-Server/.VolumeIcon.icns
LCoinDB-Server/.com.apple.timemachine.donotpresent
LCoinDB-Server/.AppleDB
LCoinDB-Server/.AppleDesktop
LCoinDB-Server/Network Trash Folder
LCoinDB-Server/Temporary Items
LCoinDB-Server/.apdisk
LCoinDB-Server/Thumbs.db
LCoinDB-Server/Thumbs.db:encryptable
LCoinDB-Server/ehthumbs.db
LCoinDB-Server/ehthumbs_vista.db
LCoinDB-Server/*.stackdump
LCoinDB-Server/[Dd]esktop.ini
LCoinDB-Server/$RECYCLE.BIN/
LCoinDB-Server/*.cab
LCoinDB-Server/*.msi
LCoinDB-Server/*.msix
LCoinDB-Server/*.msm
LCoinDB-Server/*.msp
LCoinDB-Server/*.lnk
LCoinDB-Server/target/
LCoinDB-Server/pom.xml.tag
LCoinDB-Server/pom.xml.releaseBackup
LCoinDB-Server/pom.xml.versionsBackup
LCoinDB-Server/pom.xml.next
LCoinDB-Server/release.properties
LCoinDB-Server/dependency-reduced-pom.xml
LCoinDB-Server/buildNumber.properties
LCoinDB-Server/.mvn/timing.properties
LCoinDB-Server/.mvn/wrapper/maven-wrapper.jar
LCoinDB-Server/.flattened-pom.xml
LCoinDB-Server/run/